alertmanager:
  enabled: true
  config:
    global:
      resolve_timeout: 5m
    route:
      receiver: email
      group_by: ['alertname', 'cluster', 'service']
      group_wait: 10s
      group_interval: 10s
      repeat_interval: 12h
    receivers:
      - name: email
        email_configs:
          - to: oluwaseunopebiyi@gmail.com
            from: oluwaseunopebiyi@gmail.com
            smarthost: smtp.gmail.com:587
            auth_username: oluwaseunopebiyi@gmail.com
            auth_password: vdswnlakcvwskfbv
            require_tls: true